* {
  margin: 0px;
  padding: 0px;
}
body {
  color: black;
  display: grid;
  align-items: center;
  font-family: 'Nunito';
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
  color: white;
}
header {
  margin: 30px 50px;
  font-size: 30px;
  font-weight: 800;
  text-decoration: underline;
}
input {
  margin: 20px 30px;
  padding: 10px 20px;
}
button {
  padding: 15px;
  width: 150px;
  margin-left: 30px;
  margin-top: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
}